.drop_zone, .drop_zone_on_drag {
    margin:             auto;
    height:             auto;
    width:              60%;
    border:             2px dashed grey;
    border-radius:      10px;
    overflow:           hidden;
    cursor:             pointer;
    text-align:         center;
}

.drop_zone_on_drag {
    box-shadow:         0 0 10px grey;
    border:             2px dashed #cfcfcf;
}

.drop_zone_text {
    text-align:         center;
    padding:            25px;
    font:               40px sans-serif;
    color:              #cfcfcf;
}

.thumbnail {
    margin:             10PX;
    border:             1px solid black;
    border-radius:      10px;
    text-align:         center;
    display:            inline-block;
    vertical-align:     top;
    white-space:        nowrap;
    width:              25%;
    min-height:         100px;
    cursor:             default;
}

.file_info {
    position:           relative;
    margin:             25px;
    white-space:        nowrap;
    background-color:   #cfcfcf;
    padding:            5px;
    border-radius:      3px;
    overflow:           hidden;
}

.truncate {
    overflow:           hidden;
    max-width:          95%;
    text-overflow:      ellipsis;
    -o-text-overflow:   ellipsis;
    -ms-text-overflow:  ellipsis;
}

title {
    display:            inline-block;
    color:              #8bdfff;
}

.remove_button{
    background-color:   grey;
    height:             20px;
    width:              100%;
    border-radius:      0 0 10px 10px;
    opacity:            0.25;
    cursor:             pointer;
}

.remove_button:hover{
    opacity:            0.50;
    color:              white;
}